<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    
    <ul>
        <li>
            <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
        </li>
        
        <li>
            <p>Example URL of data for one particular station on one particular date: <a href="http://127.0.0.1:5000/api/v1/10/1988-10-25">http://127.0.0.1:5000/api/v1/10/1988-10-25</a></p>
        </li>
        
        <li>
            <p>Example URL of data for all the years for one particular station: <a href="http://127.0.0.1:5000/api/v1/station/10">http://127.0.0.1:5000/api/v1/station/10</a></p>
        </li>
        
        <li>
            <p>Example URL of data for one year for one particular station: <a href="http://127.0.0.1:5000/api/v1/station/10/1988">http://127.0.0.1:5000/api/v1/station/10/1988</a></p>
        </li>
    </ul>

    <h2>Stations Data</h2>
    <!-- display all the stations data (names and ids) passed as arg (dataframe) to this webpage -->
    <!-- The 'stations' variable is being output using template interpolation -->
    <!-- with the double curly brackets syntax, which inserts the value of 'stations' here. -->
    <!-- The 'safe' filter ensures that the content of 'stations' is rendered -->
    <!-- as HTML safely, preventing any potential security vulnerabilities. -->
    <p>{{ stations_data | safe }}</p>
</body>
</html>